<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="light">
      Primo Piano
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-virtual-scroll [items]="posts" approxItemHeight="320px">
    <ion-item detail-none *virtualItem="let item; let itemBounds = bounds;">
      <app-card [post]="item" [posts]="allposts"></app-card>
    </ion-item>
  </ion-virtual-scroll>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="chevron-down-circle-outline"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Aggiornamento...">
    </ion-refresher-content>
  </ion-refresher>

</ion-content>
