.text-container {
  text-align: justify;
  line-height: 20px;
}

img {
  width: 100%;
}

.post-categories {
  font-size: 14px;
  text-align: center;
  color: grey;
  ion-col > div {
    border-radius: 50px;
    box-shadow: 0 0 8px 0 #0000001f;
    padding: 10px;

    ion-icon {
      margin-right: 5px;
    }

    .categories {
      display: inline-block;
    }
  }
}

.post-author-date {
  font-size: 14px;
  text-align: center;
  color: grey;
  border-radius: 50px;
  ion-col {
    div {
      border-radius: 50px;
      box-shadow: 0 0 8px 0 #0000001f;
      padding: 10px;
    }
  }
}

.social-icon {
  ion-icon {
    color: var(--ion-color-primary);
    font-size: x-large;
  }
}

ion-slides {
  padding-bottom: 30px;
}

